<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <div th:fragment="contact">
        <section id="appointment" data-stellar-background-ratio="3">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <img src="guest/images/appointment-image.jpg" class="img-responsive" alt="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <!-- CONTACT FORM HERE -->
                        <form id="appointment-form" role="form" method="post" action="#">

                            <!-- SECTION TITLE -->
                            <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                <h2>お問合せ</h2>
                            </div>

                            <div class="wow fadeInUp" data-wow-delay="0.8s">
                                <div class="col-md-6 col-sm-6">
                                    <label for="name">お名前 </label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="お名前 *">
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email *">
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="name">電話番号</label>
                                    <input type="text" class="form-control" id="tel" name="tel" placeholder="電話番号">
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="name">件名</label>
                                    <input type="text" class="form-control" id="sub" name="sub" placeholder="件名">
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <label for="Message">メッセージ</label>
                                    <textarea class="form-control" rows="5" id="message" name="message" placeholder="メッセージ"></textarea>
                                    <button type="button" class="form-control" id="cf-submit" name="submit">送信</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>
</html>