<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

</head>
<body>
    <div th:fragment="footer">
        <footer data-stellar-background-ratio="5">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-4">
                        <div class="footer-thumb">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s"><strong>連絡先</strong></h4>
                            <p>東京都港区南麻布516-7　H・T南麻布ビルV　5F.</p>

                            <div class="contact-info">
                                <p><i class="fa fa-phone"></i>  03-6408-9688</p>
                                <p><i class="fa fa-envelope-o"></i> <a href="#">info@aydia.asia</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="footer-thumb">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s"><strong>ニュース</strong></h4>
                            <div class="latest-stories">
                                <div class="stories-image">
                                    <a href="#"><img src="guest/images/news-image.jpg" class="img-responsive" id="img-responsive-1" alt=""></a>
                                </div>
                                <div class="stories-info">
                                    <a href="#"><h5 id="stories-info-1">Amazing Technology</h5></a>
                                    <span id="date-1">March 08, 2018</span>
                                </div>
                            </div>

                            <div class="latest-stories">
                                <div class="stories-image">
                                    <a href="#"><img src="guest/images/news-image.jpg" class="img-responsive" id="img-responsive-2" alt=""></a>
                                </div>
                                <div class="stories-info">
                                    <a href="#"><h5 id="stories-info-2">New Healing Process</h5></a>
                                    <span id="date-2">February 20, 2018</span>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="footer-thumb">
                            <div class="opening-hours">
                                <h4 class="wow fadeInUp" data-wow-delay="0.4s">勤務時間</h4>
                                <p>Monday - Friday <span>06:00 AM - 10:00 PM</span></p>
                                <p>Saturday <span>09:00 AM - 08:00 PM</span></p>
                                <p>Sunday <span>Closed</span></p>
                            </div>

                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 border-top">
                        <div class="col-md-4 col-sm-6">
                            <div class="copyright-text">
                                <p>Copyright(C) 2015 AYDIA All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="footer-link">
                                <a href="/">Home</a>
                                <a href="#team"><strong>団体概要</strong></a>
                                <a href="#news"><strong>ニュース</strong></a>
                                <a href="#appointment"><strong>お問合せ</strong></a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 text-align-center">
                            <div class="angle-up-btn">
                                <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        <script language="JavaScript" type="text/javascript"  src="/guest/js/footer.js"></script>
    </div>
</body>
</html>