<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <div th:fragment="header">
        <header>
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-5">
                        <p id="title"></p>
                    </div>

                    <div class="col-md-8 col-sm-7 text-align-right">
                        <span class="phone-icon"><i class="fa fa-phone"></i> <span id="phone"></span></span>
                        <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> <span id="work_time"></span></span>
                        <span class="email-icon"><i class="fa fa-envelope-o"></i> <span id="email"></span></span>
                    </div>

                </div>
            </div>
        </header>
    </div>
</body>
</html>