<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="home">
        <section id="home" class="slider" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">

                    <div class="owl-carousel owl-theme">
                        <div class="item item-first">
                            <div class="caption">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Let's make your life happier</h3>
                                    <h1>Healthy Living</h1>
                                    <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                                </div>
                            </div>
                        </div>

                        <div class="item item-second">
                            <div class="caption">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Aenean luctus lobortis tellus</h3>
                                    <h1>New Lifestyle</h1>
                                    <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                                </div>
                            </div>
                        </div>

                        <div class="item item-third">
                            <div class="caption">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Pellentesque nec libero nisi</h3>
                                    <h1>Your Health Benefits</h1>
                                    <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                                </div>
                            </div>
                        </div>
                        <div class="item item-third">
                            <video
                                    id="my-video"
                                    class="video-js vjs-theme-forest"
                                    controls
                                    preload="auto"
                                    width="1738"
                                    height="650"
                                    poster="/guest/images/slider1.jpg"
                                    data-setup="{}"
                            >
                                <source src="/test.mp4" type="video/mp4" />
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a
                                    web browser that
                                    <a href="https://videojs.com/html5-video-support/" target="_blank"
                                    >supports HTML5 video</a
                                    >
                                </p>
                            </video>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>
</html>