<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div th:fragment="home">
        <section id="home" class="slider" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="owl-carousel owl-theme">
                        <div class="item item-first">
                            <div class="caption">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Giao lưu sinh viên Nhật - Việt</h3>
                                    <h1 style="font-size:45px"><b>日越学生交流風景</b></h1>
                                    <a href="#about" class="section-btn btn btn-default smoothScroll"><strong>詳しく見る</strong></a>
                                </div>
                            </div>
                        </div>
                        <div class="item item-second">
                            <div class="caption">
                                <div class="col-md-offset-1 col-md-10">
                                    <h3>Giải bóng đá thiếu niên hữu nghị Nhật - Việt</h3>
                                    <h1 style="font-size:45px"><strong>日越親善少年サッカー大会の風景</strong></h1>
                                    <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll"><strong>詳しく見る</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>