<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{admin/layouts/company_template}" th:with="currentPage='business'">
<head>
    <title>Business Manage</title>
    <script src="/admin/custom/js/business.js"></script>
    <script src="/admin/libs/ckeditor/ckeditor.js"></script>
</head>
<body>

<div layout:fragment="content">
    <p class="text-align-center"><b style="font-size:25px">事業概要管理</b></p>
    <form>
        <div class="form-group" type="hidden">
             <input type="hidden" class="form-control" id="id" placeholder="id">
        </div>
        <div class="form-group">
            <label for="title">タイトル</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="メールを入力">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="content">本文</label>
            <textarea class="form-control" id="content" rows="3" name="content"></textarea>
            <small  class="form-text text-muted" id="content_help"></small>
        </div>
        <button type="button" class="btn btn-primary" id="submit">送信</button>
    </form>
</div>
</body>

</html>