<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{admin/layouts/company_template}" th:with="currentPage='change-password'">
<head>
    <title>Change Password</title>
    <script src="/admin/custom/js/change_password.js"></script>
    <style>
        .text-muted {
            color: red !important; ;
        }
    </style>

</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <p class="text-align-center"><b style="font-size:25px">パスワード変更</b></p>
            <form>
                <input id="id" class="hidden"/>
                <div class="form-group">
                    <label for="">パスワード</label>
                    <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="">
                    <small class="form-text text-muted" id="password_help" style="color: red"></small>
                </div>
                <div class="form-group">
                    <label for="">新パスワード</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="">
                    <small class="form-text text-muted" id="phone_help" style="color: red"></small>
                </div>
                <div class="form-group">
                    <label for="">新パスワード（確認）</label>
                    <input type="password" class="form-control" id="repNewPassword" placeholder="">
                    <small class="form-text text-muted" id="rep_password_help" style="color: red"></small>
                </div>
                <button type="button" class="btn btn-primary" id="submit">送信</button>
            </form>
        </div>



    </div>

</div>
</body>

</html>