<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{admin/layouts/company_template}" th:with="currentPage='team'">
<head>
    <title>Team Manage</title>
    <link rel="stylesheet" type="text/css" href="/admin/libs/new_data_table/css/dataTables.bootstrap4.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/custom/css/new_datatable.css"/>
    <script src="/admin/libs/new_data_table/js/jquery.dataTables.js"></script>
    <script src="/admin/libs/new_data_table/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/custom/js/team.js"></script>
    <style>
        .text-muted {
            color: red !important; ;
        }

    </style>
</head>
<body>

<div layout:fragment="content">

    <button id="0" class="btn btn-primary btn-sm btn-detail" style="float: right;" data-toggle="modal" data-target="#teamModal">Add</button>
    <table id="team_table" class="table responsive">
        <thead>
            <tr>
                <td>Image</td>
                <td>Name</td>
                <td>Position</td>
                <td style="width: 10%"></td>
            </tr>
        </thead>
    </table>


    <!-- New Modal -->
    <div class="modal" id="teamModal">
        <div class="modal-dialog ">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Team</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="team_form">
                        <input class="hidden" id="id" name="id"/>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" placeholder="" id="name" name="name">
                            <small class="form-text text-muted" id="name_help" style="color: red"></small>
                        </div>
                        <div class="form-group">
                            <label for="position">Position</label>
                            <input type="text" class="form-control" placeholder="" id="position" name="position">
                            <small  class="form-text text-muted" id="position_help"></small>

                        </div>
                        <div class="form-group">
                            <label for="detail">Detail</label>
                            <textarea class="form-control" id="detail" rows="3" name="detail"></textarea>
                            <small  class="form-text text-muted" id="detail_help"></small>

                        </div>
                        <div class="form-group">
                            <label >Image</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="image" name="file">
                                    <label class="custom-file-label" for="image">Choose file</label>
                                </div>
                            </div>
                            <small  class="form-text text-muted" ><span id="image_help"></span><img src="" id="image_preview" class="hidden"></small>
                        </div>
                        <input class="hidden" name="image" id="url_image"/>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm btn-submit" >Submit</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Team</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure want to delete ??
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm btn-confirm-delete" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>
</body>

</html>